.settings
target
.classpath
.project
*~
*.tmproj
*.iml
.idea
.scala_dependencies
integration/bundle/
integration/felix-cache/
runner
.DS_Store
test-output
target-j8/
target-j7/
.gradle/
build/
build-j8/
build-j7/
bin/
